{
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "env": {
        "browser": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "comma-dangle": "off",
        "no-console": "off",
        "no-unused-vars": "off"
    }
}