snippet pp "pprint"
from pprint import pprint as pp
endsnippet

snippet ic "icecream"
from icecream import ic
ic()
endsnippet

snippet prop "property"
@property
def ${0:name}(self):
	return self.${0:name}
endsnippet

snippet cprop "cached property"
@property
def ${0:name}(self):
	if not hasattr(self, '_${0:name}'):
		pass
	return self._${0:name}
endsnippet

snippet main "__main__"
if __name__ == "__main__":
	pass
endsnippet
